.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.page-break {
  page-break-before: always; /* compatible con la mayoría de navegadores y puppeteer */
  break-before: page;         /* estándar moderno */
}
