---
import TimeLineElement from "../cv/TimeLine.astro";

---

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia Laboral</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="2023 - Actual"
      subtitle="Backend Software Engineer - ISP Cloud Services, Inc."
    >
      <ul class="list-disc list-inside">
        <li class="text-base">Diseñar y mantener bases de datos SQL(MySQL)</li>
        <li class="text-base">Desarrollar API's RESTful para integración de sistemas.</li>
        <li class="text-base">Implementar lógica de negocio en aplicaciones empresariales.</li>
        <li class="text-base">Realizar el mantenimiento y la creación de jobs programados utilizando Google Cloud Scheduler.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="2021-2023"
      subtitle="Ingeniero de Software - Bancaribe, BU"
    >
      <ul class="list-disc list-inside">
        <li class="text-base">Actividades de soporte técnico y mantenimiento de sistemas.</li>
        <li class="text-base">Aplicación de controles de cambio y actualizaciones de software.</li>
        <li class="text-base">Desarrollo de nuevas funcionalidades para la automatización de reportes internos.</li>
        <li class="text-base">implementación de lógica de negocio mediante funciones y procedimientos almacenados en T-SQL.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="2020-2021"
      subtitle="Desarrollador Web - AionDev (Proyectos)"
    >
      <ul class="list-disc list-inside">
        <li class="text-base">Desarrollar aplicaciones web utilizando PHP y JavaScript/Node.js.</li>
        <li class="text-base">Colaboración en proyectos de desarrollo ágil.</li>
        <li class="text-base">Crear y dar mantenimiento a sitios web basados en WordPress.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
    title="2017-2020"
    subtitle="Analista de Desarrollo Tecnológico - SIGIS C.A."
    >
      <ul class="list-disc list-inside">
        <li class="text-base">Desarrollo de aplicaciones utilizando lenguajes como Java y JavaScript/Node.js.</li>
        <li class="text-base">Realización de actualizaciones y mejoras en sistemas existentes.</li>
        <li class="text-base">Desarrollo he implementación de rutinas y procedimientos almacenados en bases de datos(PostgreSql).</li>
        <li class="text-base">Implementación y ejecución de pruebas en Jenkins para la calidad del software.</li>
      </ul>
    </TimeLineElement>
  </div>
