---
interface Props {
  pageBreak?: boolean;
  customClass?: string;
}

const { pageBreak = false, customClass = '' } = Astro.props;
---
<div class={`grid grid-cols-1 md:grid-cols-2 gap-4 ${pageBreak ? 'page-break' : ''}`}>
    <div class:list={[
      customClass,
    ]}>
        <h2 class="text-xl font-bold mb-4">Información Académica:</h2>
        <div class="mb-2">
            <p class="font-bold text-sm">Ingeniería Sistemas | 2022</p>
            <p class="text-sm">Universidad Nacional Experimental Simón Rodríguez</p>
        </div>
        <div class="mb-2">
            <p class="font-bold text-sm">Diplomado Front End Web Developer | 2022</p>
            <p class="text-sm">Universidad Central de Venezuela</p>
        </div>
        <div class="mb-2">
            <p class="font-bold text-sm">Diplomado Back End Web Developer | 2022</p>
            <p class="text-sm">Universidad Central de Venezuela</p>
        </div>
        <div class="mb-2">
            <p class="font-bold text-sm">Diplomado Gestión de Base de Datos | 2019</p>
            <p class="text-sm">Universidad Central de Venezuela</p>
        </div>
        <div class="mb-2">
            <p class="font-bold text-sm">Diplomado Gerencia de Proyectos | 2012</p>
            <p class="text-sm">Universidad Alejandro de Humboldt</p>
        </div>
        <div>
            <p class="font-bold text-sm">T.S.U Informática | 2010</p>
            <p class="text-sm">Instituto Universitario de Tecnología Venezuela</p>
        </div>
    </div>
    <div class:list={[
        customClass,
    ]}>
        <h2 class="text-xl font-bold mb-4">Formación Adicional:</h2>
        <ul class="list-disc list-outside pl-5">
            <li class="text-sm">Scrum Master y Product Owner | 2025</li>
            <li class="text-sm">Docker de cero a experto | 2025</li>
            <li class="text-sm">Google Cloud Engineer | 2024</li>
            <li class="text-sm">Bootcamp Back End Java | 2024</li>
            <li class="text-sm">Curso ACL Robotics | 2022</li>
            <li class="text-sm">Especialización en Desarrollo Web | 2017</li>
            <li class="text-sm">Preparación Certificación ISTQB | 2016</li>
        </ul>
    </div>
</div>
