---

---

<div class="mb-8">
  <h2 class="text-3xl font-bold mb-2">Perfil</h2>
  <p class="text-base text-justify">
    Desarrollador de software con 7 años de experiencia diseñando e implementando soluciones de alto impacto en sectores como banca y finanzas, e-commerce, sistemas geoespacial y sistemas ERP.
    <br><br>
    Como Desarrollador Full Stack especializado en Backend y Bases de Datos, mi objetivo es impulsar las metas estratégicas del negocio. Lo logro a través de soluciones innovadoras como la implementación de arquitecturas backend escalables para soportar un alto volumen de usuarios, la optimización de bases de datos para reducir drásticamente los tiempos de respuesta, y el diseño de herramientas internas que automatizan procesos clave, generando ahorros significativos en tiempo y recursos.
    <br><br>
    Mi experiencia abarca tanto la participación activa como el liderazgo técnico en proyectos, donde aplico metodologías ágiles como Scrum para garantizar una gestión eficiente y adaptativa. Este enfoque me permite entregar valor de forma incremental (MVP), priorizar funcionalidades de alto impacto y ajustar el producto rápidamente basándome en el feedback del cliente, asegurando así el éxito del proyecto desde sus primeras etapas.
    <br><br>
  </p>
</div>
