---

---

<h1 class="text-3xl font-bold text-center mb-2">FRANCISCO J. THIELEN G.</h1>
<p class="text-center text-gray-600 mb-2">
  Software Engineer / Full-stack Developer
</p>
<div class="text-center text-gray-600 mb-2">
  <a href="https://github.com/FranciscoJTHG" class="hover:underline"
    >GitHub</a
  > |
  <a
    href="https://www.linkedin.com/in/francisco-thielen-ingeniero-software/"
    class="hover:underline">LinkedIn</a
  > |
  <a
    href="https://fjthielengportafolio.up.railway.app/"
    class="hover:underline">Portafolio</a
  >
</div>
<p class="text-center text-gray-600 mb-2">
  38 años | Monterrey, México | +52 8126033364
</p>
<div class="bg-white p-6 rounded-lg shadow-md">
  <!-- <h2 class="text-xl font-bold mb-2">Perfil</h2> -->
  <p class="text-md text-gray-700">
    Ingeniero de software con 7 años de experiencia diseñando e implementando soluciones de alto impacto en sectores como banca y finanzas, e-commerce, sistemas geoespacial y sistemas ERP, construyendo sistemas robustos y escalables. Mi enfoque combina una experiencia técnica con una visión de producto, aplicando metodologías ágiles como Scrum para entregar valor incremental (MVP) y asegurar el éxito del proyecto desde la primera línea de código.
    <br><br>
    Como Desarrollador Full Stack especializado en Backend y Bases de Datos, mi objetivo es impulsar las metas estratégicas del negocio. Aporto resultados a través de las siguientes áreas:<br><br>
    <!-- Cuento con experiencia en la participación y liderazgo de proyectos, utilizando metodologías ágiles como Scrum para garantizar una gestión eficiente y adaptativa. Estas metodologías me han permitido priorizar funcionalidades clave, entregar incrementos de valor en ciclos cortos (MVP), y ajustar rápidamente el producto en función del feedback del cliente y las necesidades del negocio. Este enfoque asegura un desarrollo iterativo y colaborativo, maximizando el impacto desde las primeras etapas del proyecto. -->
  </p>
  <ul class="list-disc list-outside pl-5 text-gray-700">
    <li class="text-sm">Diseño de Arquitecturas Backend Robustas: Utilizando mi experiencia dual en Java/Spring y JavaScript/Node.js para construir el sistema escalable que su producto necesita.</li>
    <li class="text-sm">Optimización de Rendimiento: Especializado en refinar bases de datos y código para reducir los tiempos de respuesta y mejorar la experiencia del usuario.</li>
    <li class="text-sm">Cultura DevOps: Estableciendo pipelines de integración y despliegue continuo que automatizan las pruebas y la entrega. Esto, combinado con Docker, minimiza el riesgo de errores en producción y acelera drásticamente la velocidad con la que las nuevas funcionalidades llegan a sus usuarios.</li>
    <li class="text-sm">Integración de Inteligencia Artificial: Desarrollando funcionalidades avanzadas (chatbots, análisis de datos, etc.) que otorgan a su aplicación una ventaja competitiva.</li>
  </ul>
</div>
