---

---

<div class="pb-6 mt-5">
  <p class="text-5xl font-bold">Francisco J. Thielen G.</p>
  <div class="py-3">
    <p class="text-3xl font-bold">Software Engineer / Full-stack Developer</p>
  </div>
  <div class="py-2">
    <text class="text-base text-justify">
      Desarrollador/Programador de software con 7 años de experiencia en el diseño e implementación de soluciones tecnológicas en sectores como banca y finanzas, comercio electrónico, tecnología e información geoespacial y sistemas ERP.
      <br><br>
      Desarrollador Full Stack con cierta inclinación al backend y bases de
      datos, mi objetivo principal es contribuir al logro de metas estratégicas mediante el desarrollo de soluciones innovadoras, como la implementación de arquitecturas backend escalables que soporten un alto volumen de usuarios, la optimización de bases de datos para reducir tiempos de respuesta, o el diseño de herramientas internas que automatizan procesos clave, ahorrando tiempo y recursos.
      <br><br>
      Cuento con experiencia en la participación y liderazgo de proyectos, utilizando metodologías ágiles como Scrum para garantizar una gestión eficiente y adaptativa. Estas metodologías me han permitido priorizar funcionalidades clave, entregar incrementos de valor en ciclos cortos (MVP), y ajustar rápidamente el producto en función del feedback del cliente y las necesidades del negocio. Este enfoque asegura un desarrollo iterativo y colaborativo, maximizando el impacto desde las primeras etapas del proyecto.
    </text>
  </div>
  <!-- <div class="mt-8"> -->
    <!-- <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
    <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
    Get This template
    </a> -->
  <!-- </div> -->
</div>
