---

---
<div class="bg-white p-6 rounded-lg shadow-md mt-8 page-break">
  <h3 class="text-xl font-bold mb-4">Habilidades</h3>
  <div class="flex flex-wrap gap-2">
    <div class="rounded-lg p-2">
      <h3 class="text-md font-semibold mb-3">Lenguajes de Programación:</h3>
      <div class="space-y-2">
        <div class="flex items-center">
            <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
            <!-- </div> -->
            <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
            <p>Java</p>
        </div>
        <div class="flex items-center">
            <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
              <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
              <p>JavaScript - TypeScript</p>
            <!-- </div> -->
        </div>
        <div class="flex items-center">
            <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"></div> -->
            <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
            <p>PL/pgSQL</p>
        </div>
      </div>
    </div>
    <!-- Sección: Backend -->
    <div class="rounded-lg p-2">
        <h3 class="text-md font-semibold mb-3">Backend:</h3>
        <div class="space-y-2">
            <div class="flex items-center">
                <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                  <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                  <p>Nodejs/Express</p>
                <!-- </div> -->
            </div>
            <div class="flex items-center">
                <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                  <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                  <p>Nestjs</p>
                <!-- </div> -->
                    <!-- <div>
                        <Icon name="skill-icons:nestjs-light" size={24} />
                        <Icon name="skill-icons:nestjs-dark" size={24} />
                    </div> -->
                </div>
            <div class="flex items-center">
                <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                  <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                  <p>Spring</p>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- Sección: Base de Datos -->
    <div class="rounded-lg p-2">
        <h3 class="text-md font-semibold mb-3">Base de Datos:</h3>
        <div class="space-y-2">
            <div class="flex items-center">
                <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                  <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                  <p>PostgreSQL</p>
                <!-- </div> -->
            </div>
            <div class="flex items-center">
                <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                  <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                  <p>MySQL</p>
                <!-- </div> -->
            </div>
            <div class="flex items-center">
                <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                  <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                  <p>SqlServer</p>
                <!-- </div> -->
            </div>
            <div class="flex items-center">
                <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                  <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                  <p>MongoDB</p>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- Sección: Frontend -->
    <div class="rounded-lg p-2">
      <h3 class="text-md font-semibold mb-3">Frontend:</h3>
      <div class="space-y-2">
          <div class="flex items-center">
              <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                <p>HTML</p>
              <!-- </div> -->
          </div>
          <div class="flex items-center">
              <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                <p>CSS</p>
              <!-- </div> -->
          </div>
          <div class="flex items-center">
              <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                <p>Bootstrap</p>
              <!-- </div> -->
          </div>
          <div class="flex items-center">
              <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                <p>Tailwind CSS</p>
              <!-- </div> -->
          </div>
          <div class="flex items-center">
              <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                <p>React</p>
              <!-- </div> -->
          </div>
      </div>
    </div>
    <!-- Sección: Cloud & DevOps -->
    <div class="rounded-lg p-2">
        <h3 class="text-md font-semibold mb-3">Cloud & DevOps:</h3>
        <div class="space-y-2">
          <div class="flex items-center">
              <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                <p>Linux</p>
              <!-- </div> -->
          </div>
          <div class="flex items-center">
              <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
                <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
                <p>GCP</p>
              <!-- </div> -->
          </div>
          <div class="flex items-center">
            <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
              <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
              <p>Docker</p>
            <!-- </div> -->
          </div>
          <div class="flex items-center">
            <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
              <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
              <p>Vagrant</p>
            <!-- </div> -->
          </div>
          <div class="flex items-center">
            <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
              <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
              <p>Ansible</p>
            <!-- </div> -->
          </div>
          <div class="flex items-center">
            <!-- <div class="bg-gray-300 text-white px-2 py-1 rounded-full text-sm"> -->
              <span class="w-4 h-4 mr-1 rounded-full bg-gray-300"></span>
              <p>Git - CI/CD</p>
            <!-- </div> -->
          </div>
        </div>
    </div>
  </div>
</div>
